/demo_servlet/nbproject/private/
/demo_delete/nbproject/private/
/demo_list/nbproject/private/
/demo_list/dist/
/demo_list/build/
/demo_delete/dist/
/demo_delete/build/
/demo_edit/nbproject/private/
/demo_edit/dist/
/demo_edit/build/
/demo_add/nbproject/private/
/demo_add/build/
/demo_add/dist/
/demo_servlet_full/nbproject/private/
/demo_full_jsp/nbproject/private/
/demo_full_jsp/dist/
/demo_full_jsp/build/
/Email/nbproject/private/
/LoginGoogle/nbproject/private/
/VerifyEmail/nbproject/private/
/library/LoginGoogle/nbproject/private/
/VerifyEmail/build/
/recaptcha/build/
